<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>众创数字资产综合运营管理平台</title>
    <link rel="stylesheet" href="../../layui/css/layui.css"/>
    <link rel="stylesheet" href="../../css/admin.css"/>
    <link rel="stylesheet" href="../../layui_files_upload/css/layui.css"/>
    <style>
        .layui-upload-img {
            width: 100px;
            height: 100px;
            margin: 0 10px 10px 0;
        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <table class="layui-table layui-table-add" lay-skin="nob">
        <tbody>

        <!--<tr>-->
        <!--<th>-->
        <!--标题-->
        <!--</th>-->
        <!--<td>-->
        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">单行输入框</label>-->
        <!--<div class="layui-input-block">-->
        <!--<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">-->
        <!--</div>-->
        <!--</div>-->
        <!--</td>-->
        <!--</tr>-->
        <tr>
            <th style="width: 125px">折率</th>
            <td>
                <input name="activitieId" type="hidden" id="activitieId">
                <!--表单元素必须包含此div,才可实现表单验证-->
                <div class="layui-form-item">
                    <div  style="width: 310px;">
                        <input type="text" id="activitieNumber" name="activitieNumber" lay-verify="required|discountRate" lay-reqtext="折率不能为空？"
                               placeholder="请输入1-9活动折率" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="width: 125px">
                活动到期时间
            </th>
            <td>
                <div class="layui-form-item">
                    <input name="courseId" type="hidden" id="courseId">
                    <div class="layui-inline">
                        <!--                       <label class="layui-form-label">日期时间选择器</label>-->
                        <div class="layui-input-inline" style="width: 310px;">
                            <input type="text" name="activitieEndTime" lay-verify="time" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss(为空为永久时间)">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="width: 125px">
                活动类型
            </th>
            <td>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select id="activitieType" lay-filter="activitieType" lay-verify="activitieType" name="activitieType">
                                <option value="限时打折">限时打折</option>
                                <option value="永久打折">永久打折</option>
                            </select>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="width: 125px">
                活动状态
            </th>
            <td>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select id="activitieState"  lay-filter="activitieState" lay-verify="activitieState" name="activitieState">
                            <option value="1">进行中</option>
                            <option value="0">已结束</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="dminprogram-btn" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../layui_files_upload/layui.js"></script>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script>
    function child(activitieId,index,pageNo,pageSize,courseName,activitieState,activitieType) {
        $(function () {
           // $("#courseId").val(courseId);
           //  alert(pageNo+ " "+pageSize +" "+courseName+" "+activitieState+" "+activitieType);
            $.getJSON("/guliActivitie/findActivitieIdActivitie","activitieId="+activitieId,function (json) {
                console.log(json);
                var select1 = 'dd[lay-value=' + json.object.activitieState + ']';
                console.log(select1);
                $('#activitieState').siblings("div.layui-form-select").find('dl').find(select1).attr("class","layui-this");
                $('#activitieState').siblings("div.layui-form-select").find('dl').find(select1).siblings().attr("class","");
                $('#activitieState').siblings("div.layui-form-select").find('dl').find(select1).click();
                var select2 = 'dd[lay-value=' + json.object.activitieType + ']';
                console.log(select2);
                $('#activitieType').siblings("div.layui-form-select").find('dl').find(select2).click();
                $("#activitieNumber").val(json.object.activitieNumber);
                $("#test5").val(json.object.activitieEndTime);
                $("#activitieId").val(json.object.activitieId);
            });
        });
    layui.use(['jquery', 'form', 'upload', 'layer', 'layedit', 'laydate'], function () {

        var $ = layui.jquery
            , upload = layui.upload;

        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //自定义验证规则
        form.verify({
            discountRate: function (value) {
                if(!/(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/.test(value)){
                    return "折率只能为数字与小数";
                }
                if(value <= 0 || value >= 10){
                    return "折率只能一到九";
                }
            },
            activitieType: function (value) {
                var time = $("#test5").val();
                if (value == "永久打折") {
                    if(time != ""){
                        return "结束时间不为空,无法设置永久打折";
                    }
                }
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            $.ajax({
                //请求方式
                type:'PUT',
                //发送请求的地址
                url:'/guliActivitie/updateActivitieIdActivitie',
                //服务器返回的数据类型
                dataType:'json',
                //发送到服务器的数据，对象必须为key/value的格式，jquery会自动转换为字符串格式
                data:JSON.stringify(data.field),
                contentType: "application/json",
                success:function(json){
                    console.log(json);
                    if(json.success==false){
                        layer.open({
                            type:0
                            ,area:['60%', '60%']
                            ,title:"修改活动信息"
                            ,content: json.object
                        });
                    }else{
                        parent.pageShow(pageNo,pageSize,courseName,activitieState,activitieType);
                        parent.layer.close(index);
                        // window.parent.location.reload();
                    }
                },
                error:function(jqXHR){
                    //请求失败函数内容
                    console.log(jqXHR);
                }
            });
            return false;
        });
    });
    }
</script>
</body>
</html>