<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>谷粒学院教师管理平台</title>
    <link rel="stylesheet" href="../../layui/css/layui.css"/>
	<link rel="stylesheet" href="../../layui_files_upload/css/layui.css"/>
    <link rel="stylesheet" href="../../css/admin.css"/>
</head>
<body>
	<div class="container">
	    
	    <div class="layui-tab">
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
				<div class="content-search" style="border: 0px;margin-top: 10px;height:43px;">
					<form class="layui-form layui-form-pane" action="" style="width: 700px; height:43px; display: inline-block; float: left">
						<div class="layui-inline">
							<label class="layui-form-label">商品名称</label>
							<div class="layui-input-block">
								<input  autocomplete="off" id="layui-input-courseName" placeholder="请输入商品名称" class="layui-input" type="text"/>
							</div>
						</div>
					</form>
					<button class="layui-btn layui-btn-normal layui-btn-small add" style="float: right">+添加</button>
				</div>
		    	<!-- pc端内容 -->
		    	<div class="table-list layui-form">
					<table class="layui-table" lay-skin="line">
					  <thead>
					    <tr>
					      <th width="40">排序</th>
					      <th width="130">图片</th>
					      <th>课程名称</th>
							<th>课程价格</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody id="layui-id">

					  </tbody>
					</table>
				</div>
		    	<!-- pc端内容end -->
		    </div>
		</div>
	</div>
<!--		<div id="table-pages" style="text-align:center"></div>-->
		<div id="demo7" style="text-align:center"></div>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="../../layui_files_upload/layui.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script>
		PageNo = 1;
		PageSize = 3;
		$(function(){
			showReocrd(1,3,null);
			$("#layui-input-courseName").change(function(){
					showReocrd(1,3,null);
			});
			// $("#layui-btn-courseName").click(function () {
			// 	showReocrd(1,3);
			// });
		});
		layui.use(['jquery','form','layer','laypage','element'], function(){
			var $ = layui.jquery,
			    laydate = layui.laydate,
			    layer = layui.layer,
			    laypage = layui.laypage;
			    // element = layui.element();

            // // 分页
            // laypage({
            //     cont: 'table-pages'
            //     ,pages: 100
            //     ,skip: true
            // });

			// 添加课程
			$(document).on("click", ".add", function() {
			    layer.open({
			      type:2
			      ,area:['80%', '80%']
			      ,title:"添加课程"
				  ,content: '添加课程.html'
				});
			});

            // 修改课程
            $(document).on("click", ".update", function() {
            	// console.log($(this).);
            	// var courseId = $("button.update").siblings().find(".courseId").val();//find搜索所有段落中的后代括号总的元素
				var courseId = $(this).siblings("input").val();
				var courseName = $("#layui-input-courseName").val();
				// alert(courseId);
                var index = layer.open({
                    type:2
                    ,area:['80%', '80%']
                    ,title:"修改课程信息"
                    ,content: '修改课程.html'
					,success:function (layero, index){
						var iframe = window['layui-layer-iframe'+index];
						//调用子页面的全局函数
						iframe.child(courseId,index,PageNo,PageSize,courseName);
					}
                });
            });

			// 课程详情
			$(document).on("click", ".details", function() {
				// console.log($(this).);
				// var courseId = $("button.update").siblings().find(".courseId").val();//find搜索所有段落中的后代括号总的元素
				var courseId = $(this).siblings("input").val();
				// alert(courseId);
				var index = layer.open({
					type:2
					,area:['80%', '80%']
					,title:"课程详情"
					,content: '课程详情.html'
					,success:function (layero, index){
						var iframe = window['layui-layer-iframe'+index];
						//调用子页面的全局函数
						iframe.child(courseId);
					}
				});
			});

			//添加活动
			$(document).on("click", ".activity", function() {
				// console.log($(this).);
				// var courseId = $("button.update").siblings().find(".courseId").val();//find搜索所有段落中的后代括号总的元素
				var courseId = $(this).siblings("input").val();
				var courseName = $("#layui-input-courseName").val();
				// alert(courseId);
				var index = layer.open({
					type:2
					,area:['75%', '75%']
					,title:"添加活动信息"
					,content: '添加活动.html'
					,success:function (layero, index){
						var iframe = window['layui-layer-iframe'+index];
						//调用子页面的全局函数
						iframe.child(courseId,index,PageNo,PageSize,courseName);
					}
				});
			});

            //添加详细介绍
            $(document).on("click", ".introduce", function() {
                var courseId = $(this).siblings("input").val();
				var courseName = $("#layui-input-courseName").val();
                var index = layer.open({
                    type:2
                    ,area:['80%', '80%']
                    ,title:"添加详细介绍"
                    ,content: '添加详细介绍.html'
                    ,success:function (layero, index){
                        var iframe = window['layui-layer-iframe'+index];
                        //调用子页面的全局函数
						iframe.child(courseId,index,PageNo,PageSize,courseName);
                    }
                });
            });

			//添加详细介绍
			$(document).on("click", ".viewDirectory", function() {
				// var guli_all_id =  $("#guli_all_id").val();
				// console.log(guli_all_id+"all_id");
				var courseId = $(this).siblings("input").val();
				location.href="目录列表.html?courseId="+courseId;
			});

			// 删除操作
		    $(document).on("click", ".a4", function() {
			    layer.open({
			      title:"删除操作"
				  ,content: '您确认要删除吗？'
				  ,btn: ['取消', '确认']
				  ,yes: function(index, layero){
				       layer.closeAll();
				  }
				  ,btn2: function(index, layero){
				      layer.msg('删除成功！',{time: 1000});
				  }
				});
			});
		   
			
		});
		function showReocrd(pageNo,pageSize,courseName){
			if(courseName == null)
			courseName = $("#layui-input-courseName").val();
			var param = "pageNo="+pageNo+"&pageSize="+pageSize+"&userId="+1+"&courseName="+courseName;
			$.ajax({
				//请求方式
				type:'GET',
				//发送请求的地址
				url:'/guliCourse/findAllPageCourse?'+param,
				//服务器返回的数据类型
				dataType:'json',
				success:function(data){
					// console.log(data.object);
					// console.log(data.object.pageList);
					if(data.object.pageList.length==0){
						layui.use('layer', function(){
							var layer = layui.layer;
							layer.open({
								area:['60%', '60%'],
								type:0,
								title: '数据信息提示'
								,content: '你的显示数据为空!'
							});
						});
					}else{
					$('tbody').empty();
					// console.log(data);
					for (var i = 0;i < data.object.pageList.length;i++){
						var course = data.object.pageList[i];
						var disabled = "";
						if(course.coursePrice <= 0) {
							disabled = "disabled=\"disabled\"";
						}
						var tr = " <tr>\n" +
								"<td>"+(i+1)+"</td>\n" +
								"<td><img src=\"http://39.106.18.84/"+course.courseImage+"\" width=\"300px\" height=\"126px\" alt=\""+course.courseName+"\"></td>\n" +
								"<td>"+course.courseName+"</td>\n" +
								"<td><span class=\"price\">"+course.coursePrice+"</span></td>\n" +
								"<td>\n" +
								"<button class=\"layui-btn layui-btn-warm layui-btn-small update\">编辑</button>\n" +
								"<button class=\"layui-btn layui-btn-normal layui-btn-small details\">详情</button>\n" +
								"<button class=\"layui-btn layui-btn-danger layui-btn-small a4\">删除</button>"+
								"<button class=\"layui-btn layui-btn-normal layui-btn-small activity\" "+disabled+">添加活动</button>\n"+
								"<button class=\"layui-btn layui-btn-normal layui-btn-small introduce\">添加详细介绍</button>\n"+
								"<button class=\"layui-btn layui-btn-normal layui-btn-small viewDirectory\">查看目录</button>\n"+
								"<input class='courseId' value='"+course.courseId+"' type='hidden'>" +
								"</td>\n" +
								"</tr>";
						$("#layui-id").append(tr);
					}
					PageNo = data.object.pageNo;
					PageSize = data.object.pageSize;
					layui.use(['jquery','form','layer','laypage','element'], function(){
						var $ = layui.jquery,
								laydate = layui.laydate,
								layer = layui.layer,
								laypage = layui.laypage;
						//完整功能
						laypage.render({
							elem: 'demo7',
							count: data.object.pageTotal,//总条数
							curr: data.object.pageNo,//当前页
							limit: data.object.pageSize,//每页的条数
							limits:[3,5,10]//可选择每页数目
							,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
							// ,first: '首页'
							// ,last: '尾页'
							,jump: function (obj, first) { //obj为当前页的属性和方法，第一次加载first为true
								//非首次加载 do something
								if (!first) {
									//清空以前加载的数据
									$('tbody').empty();
									//调用加载函数加载数据
									showReocrd(obj.curr, obj.limit,null);
								}
							}
						});
					});
					}
				},
				error:function(jqXHR){
					//请求失败函数内容
					console.log(jqXHR);
				}
			});
		}
	</script>
	</div>
</body>
</html>