<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.mapper.MediaFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guli.media.MediaFile">
        <id column="file_id" property="fileId" />
        <result column="file_name" property="fileName" />
        <result column="file_original_name" property="fileOriginalName" />
        <result column="file_path" property="filePath" />
        <result column="file_url" property="fileUrl" />
        <result column="file_type" property="fileType" />
        <result column="mimeType" property="mimeType" />
        <result column="fileSize" property="fileSize" />
        <result column="fileStatus" property="fileStatus" />
        <result column="uploadTime" property="uploadTime" />
        <result column="processStatus" property="processStatus" />
        <result column="mediaFileProcess_m3u8" property="mediafileprocessM3u8" />
        <result column="tag" property="tag" />
    </resultMap>

</mapper>
